@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.watchlist-count {
  animation: bounce 0.3s ease;
  font-size: 0.75rem;
}

@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.watchlist-count {
  font-size: 0.75rem; /* Tamaño de fuente pequeño en dispositivos móviles */
}

@media (min-width: 768px) {
  .watchlist-count {
      font-size: 1rem; /* Tamaño más grande en pantallas grandes */
  }
}